body {
    background-color: #23283b;
    transition: background-color 1s ease;
}

.navbar {
    background-color: #23283b;
    transition: background-color 2s ease;
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    z-index: 10000;
}

.container {
    margin-top: 90px;
}

.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23283b;
    padding: 110px;
    color: white;
}

.text-container {
    padding: 30px;
    width: 100%;
    text-align: center;
    min-width: 300px; /* Ensure the container does not shrink below this width */
}

h1 {
    margin-top: -10px;
}

.image-container {
    padding: 50px;
    flex: 1;
    text-align: center;
    position: relative;
    height: 450px; /* Fixed height to maintain consistency */
    overflow: hidden;
    width: 100%;

    .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the image covers the container */
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    }

    .slideshowDots {
        position: absolute;
        bottom: 10px; /* Adjust bottom spacing as needed */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center using translate */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .image-container {
        .slideshowDots {
            bottom: 5px; /* Adjust spacing for smaller screens */
        }
    }
}

.slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    background-color: white;

    &.active {
        background-color: #bd692d;
    }
}


.second-section {
    background-color: white;
    padding: 50px;
    text-align: center;
    color: black;

    .section-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .image-gallery-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-image-container {
            width: 100%;
            max-width: 600px;
            height: 400px; /* Fixed height for consistency */
            overflow: hidden;
            margin-bottom: 20px;
            position: relative;

            .main-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
                border: 2px solid #23283b; /* Add border with color */
            }
        }

        .species-info {
            
            text-align: left;
            margin-bottom: 20px;
        
            h2 {
                text-align: center;
                font-size: 1.8rem;
                margin-bottom: 10px;
            }
        
            .description {
                text-align: center;
                font-style: italic;
                margin-bottom: 10px;
            }
        
            ul {
                list-style-type: none;
                padding: 0;
                columns: 2; /* Distribute list items into two columns */
                column-gap: 20px; /* Add gap between columns */
        
                li {
                    margin-bottom: 10px; /* Adjust spacing between list items */
        
                    strong {
                        margin-right: 5px;
                    }
                }
            }
        }

        .thumbnail-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;
            margin-bottom: 25px; /* Add margin bottom for space */

            .thumbnail {
                width: 80px;
                height: 80px;
                object-fit: cover;
                margin: 5px;
                cursor: pointer;
                border: 2px solid transparent;
                transition: border-color 0.3s ease;

                &.active {
                    border-color: #23283b;
                }
            }
        }
    }
}

/* Responsive adjustments for larger screens */
@media (min-width: 768px) {
    .first-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .text-container, .image-container {
        width: 45%;
    }
}

/* Additional responsive adjustments for smaller screens */
@media (max-width: 767px) {
    .first-section {
        padding-top: 50%;
        flex-direction: column;
        align-items: center;
    }

    .text-container, .image-container {
        width: 200%; /* Ensure these containers take full width on smaller screens */
    }

    .slideshowDots {
        bottom: 0; /* Position directly below the image container */
        right: 0; /* Center the dots */
        left: 0; /* Ensure the dots span the full width of the image container */
    }
}

.red-text {
    color: red;
}

.shop-now-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #bd692d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: static;
    transform: none;
    left: auto;
    top: auto;

    &:hover {
        background-color: #af5210;
    }
}
