.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #23283b;

  .logo-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;

    .logo {
      width: 50px;
      height: auto;
      margin-right: 10px;
    }

    .company-name {
      font-size: 1.5rem;
      font-weight: bold;
      color: #bd692d;
    }
  }

  .nav-links {
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #23283b;
      z-index: 9;

      &.open {
        display: flex;
      }
    }
  }

  .nav-link-container {
    position: relative;

    .maintenance-icon {
      position: absolute;
      top: -10px;
      right: 0;
      font-size: 14px;
      animation: moveIcon 4s infinite, glowIcon 1.5s infinite;

      &:nth-child(2) {
        animation-delay: 0.5s;
      }

      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }

  @keyframes moveIcon {
    0%, 100% {
      transform: translateX(0) rotate(0);
    }
    25% {
      transform: translateX(10%) rotate(3deg);
    }
    50% {
      transform: translateX(0) rotate(-3deg);
    }
    75% {
      transform: translateX(-10%) rotate(3deg);
    }
  }

  @keyframes glowIcon {
    0%, 100% {
      text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
    }
    50% {
      text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
    }
  }

  .nav-link {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s;

    &:hover {
      color: #bd692d;
    }

    &.active::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 2px;
      background-color: #bd692d;
    }

    @media (max-width: 768px) {
      padding: 1rem;
      width: 100%;
      text-align: center;
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    span {
      width: 2rem;
      height: 0.25rem;
      background: white;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
    }
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  @media (max-width: 768px) {
    .navbar .hamburger {
      display: flex;
    }
  }
}
